<!--partial - kinda like function for for html -->
<%= form_for @event do |form|%>
  <label>Name</label>
  <%=form.text_field :name%><br><br>

  <label>Price</label>
  <%=form.number_field :price%><br><br>
  
  <label>Starts At</label>
  <%=form.datetime_field :start_at%><br><br>

  <label>Location</label>
  <%=form.text_field :location%><br><br>

  <label>Description</label>
  <%=form.text_area :description%><br><br>
  <%=form.submit%>
  <%=link_to "cancel", events_path%>
<%end%>
